<div class  "page-header" > 
	<h1>Manage Chapters</h1>
</div>

<br>

<div class="showmore">
	<div class="col-lg-6">
		<form>
			<div class="form-row">
				
				<div class="col">
					<span class="input-group-text"> Results to display:</span>
				</div>
				<div class="col">
					<input type="text" class="form-control" ng-model="number">&nbsp&nbsp
				</div>
				<div class="col">
					<button type="submit" ng-click="chapter.showMore(number);" class="btn btn-success">Apply Filter</button>
				</div>
				<div class="col">
					<button type="button" ng-click="chapter.showAll(number);" class="btn btn-warning">Show All</button>
				</div>
			</div>
		</form>
	</div>
</div>

<nav class="navbar navbar-light">
	<form class="form-inline">
		<input class="form-control mr-sm-2" type="search" placeholder="Search for..." aria-label="Search" ng-model="searchKeyword">
		<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" ng-click="chapter.search(searchKeyword, number);">Search</button>&nbsp
		<button class="btn btn-outline-secondary my-2 my-sm-0" type="button" ng-click="chapter.clear();">Clear</button>&nbsp
		<!-- Advanced Search Button -->
		<!-- <a href="/search">
			<button type="button" class="btn btn-outline-secondary my-2 my-sm-0">Advanced Search</button>
		</a> -->

	</form>
</nav>

<!-- Total Search Results -->
<div ng-show="searchFilter !== undefined">
	<p><strong>Total results: </strong>{{ (chapter.chapters | filter: searchFilter).length }}</p>

</div>

<!-- Results Being Shown -->
<div ng-show="searchFilter !== undefined">
	<p><strong>Showing: </strong>{{( chapter.chapters | filter: searchFilter | limitTo: chapter.limit).length }}</p>
</div>



<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="chapter.showMoreError">
	<div class="alert alert-danger">{{ chapter.showMoreError }}</div>
</div>

<br>

<div class="panel panel-primary">
	<p align = "right">
		<a href="/addchapter" align="right">
			<button type="button" ng-show="chapter.editAccess" align="right" class="btn btn-primary">Add Chapter</button>
		</a>
	</p>


	<table class="table table-striped">
		<tr>
			<th>Chapter Name</th>
			<th>Website</th>
			<th></th>	
		</tr>
		<tr ng-repeat="chap in chapter.chapters |orderBy: 'chaptername'|filter: searchFilter |limitTo: chapter.limit">
			<td>{{chap.chaptername }}</td>
			<td>{{chap.website}}</td>
			<td>
				<a href="/editchapter/{{chap._id}}">
					<button type="button" ng-show="chapter.editAccess" class="btn btn-primary">Edit</button>
				</a>
				<button type="button" ng-click = "chapter.deleteChapter(chap.chaptername);" ng-show="chapter.deleteAccess" class="btn btn-danger">Delete</button>
<!-- 				<a href="/edit/{{chapter._id}}">
					<button type="button" ng-show="management.editAccess" class="btn btn-primary">Edit</button>
				</a> -->
				<!-- <button type="button" ng-click="management.deleteUser(person.username);" ng-show="management.deleteAccess" class="btn btn-danger">Delete</button> -->
			</td>
		</tr>
	</table>

</div>

<br>
<div class="showmore">
	<div class="col-lg-6">
		<div class="input-group">
			<span class="input-group-text"> Results to display:</span>
			<input type="text" class="form-control" ng-model="number">&nbsp&nbsp
			<button type="button" ng-click="chapter.showMore(number);" class="btn btn-success ">Apply Filter</button>
			<button type="button" ng-click="chapter.showAll(number);" class="btn btn-warning">Show All</button>
		</div>
	</div>
</div>



    <!-- BootstrapJS Modal -->
    <div class="modal fade" id="chapModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
<!--             <button ng-hide="main.hideButton" type="button" ng-click="main.endSession();" class="close" data-dismiss="modal">&times;</button> -->
            <!-- Modal Header -->
            <h4 class="modal-title">Edit Chapter</h4>
          </div>
          <!-- Modal Body -->
          <div class="modal-body">
            <p>Edit Chapter Details</p>
          </div>
          <div class="modal-footer">
            <!-- Modal 'Yes' & 'No' Buttons -->
            <button type="button" ng-click="" class="btn btn-primary" data-dismiss="modal">Ok</button>
            <button type="button" ng-click="" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div>
    <!-- BootstrapJS Modal -->



<!-- $scope.showChapterModal = function() {
  $scope.showChapterEditModal = true;
};

$scope.updateChapter = function() {
	//edit chapter
  $scope.showChapterEditModal = false;
};

$scope.cancelChapterUpdate = function() {
  $scope.showChapterEditModal = false;
}; -->

