<div class  "page-header" > 

<h1>Payment</h1>

</div>


<form name ="invoiceForm">
    <h4>Primary Information</h4>
    <div>
    </div>
    <div class="bg-light">
      <!-- <div class="form-row"> -->
        <div class="form-group">
          <label for="chapter">Chapter</label>
          <input class="form-control" ></input>

        </div>
    
        <div class="form-group">
            <label for="member">Member</label>
            <input class="form-control"></input>

        </div>

        <div>
            <label>Amount</label>
            <input class="form-control" type="text" name="amount" ng-model="amount">
            
        </div>
        
    </div>
    
    <br>
    <button id="customButton" type="button" class="btn btn-primary">Make Payment</button>
</form>